<!DOCTYPE HTML><html><head><title>sb_app API documentation</title><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="generator" content="https://github.com/kevinrenskers/raml2html 2.2.0"><link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css"><script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script><script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script><script type="text/javascript">
      $(document).ready(function() {
        $('.page-header pre code, .top-resource-description pre code').each(function(i, block) {
          hljs.highlightBlock(block);
        });

        $('[data-toggle]').click(function() {
          var selector = $(this).data('target') + ' pre code';
          $(selector).each(function(i, block) {
            hljs.highlightBlock(block);
          });
        });

        // open modal on hashes like #_action_get
        $(window).bind('hashchange', function(e) {
          var anchor_id = document.location.hash.substr(1); //strip #
          var element = $('#' + anchor_id);

          // do we have such element + is it a modal?  --> show it
          if (element.length && element.hasClass('modal')) {
            element.modal('show');
          }
        });

        // execute hashchange on first page load
        $(window).trigger('hashchange');

        // remove url fragment on modal hide
        $('.modal').on('hidden.bs.modal', function() {
          try {
            if (history && history.replaceState) {
                history.replaceState({}, '', '#');
            }
          } catch(e) {}
        });
      });
    </script><style>
      .hljs {
        background: transparent;
      }
      .parent {
        color: #999;
      }
      .list-group-item > .badge {
        float: none;
        margin-right: 6px;
      }
      .panel-title > .methods {
        float: right;
      }
      .badge {
        border-radius: 0;
        text-transform: uppercase;
        width: 70px;
        font-weight: normal;
        color: #f3f3f6;
        line-height: normal;
      }
      .badge_get {
        background-color: #63a8e2;
      }
      .badge_post {
        background-color: #6cbd7d;
      }
      .badge_put {
        background-color: #22bac4;
      }
      .badge_delete {
        background-color: #d26460;
      }
      .badge_patch {
        background-color: #ccc444;
      }
      .list-group, .panel-group {
        margin-bottom: 0;
      }
      .panel-group .panel+.panel-white {
        margin-top: 0;
      }
      .panel-group .panel-white {
        border-bottom: 1px solid #F5F5F5;
        border-radius: 0;
      }
      .panel-white:last-child {
        border-bottom-color: white;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .panel-white .panel-heading {
        background: white;
      }
      .tab-pane ul {
        padding-left: 2em;
      }
      .tab-pane h2 {
        font-size: 1.2em;
        padding-bottom: 4px;
        border-bottom: 1px solid #ddd;
      }
      .tab-pane h3 {
        font-size: 1.1em;
      }
      .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
      }
      #sidebar {
        margin-top: 30px;
        padding-right: 5px;
        overflow: auto;
        height: 90%;
      }
      .top-resource-description {
        border-bottom: 1px solid #ddd;
        background: #fcfcfc;
        padding: 15px 15px 0 15px;
        margin: -15px -15px 10px -15px;
      }
      .resource-description {
        border-bottom: 1px solid #fcfcfc;
        background: #fcfcfc;
        padding: 15px 15px 0 15px;
        margin: -15px -15px 10px -15px;
      }
      .resource-description p:last-child {
        margin: 0;
      }
      .list-group .badge {
        float: left;
      }
      .method_description {
        margin-left: 85px;
      }
      .method_description p:last-child {
        margin: 0;
      }
      .list-group-item {
        cursor: pointer;
      }
      .list-group-item:hover {
        background-color: #f5f5f5;
      }
    </style></head><body data-spy="scroll" data-target="#sidebar"><div class="container"><div class="row"><div class="col-md-9" role="main"><div class="page-header"><h1>sb_app API documentation <small>version 1.0</small></h1><p>http://165.227.216.88/app.php/api/v1</p></div><div class="panel panel-default"><div class="panel-heading"><h3 id="scratches" class="panel-title">/scratches</h3></div><div class="panel-body"><div class="panel-group"><div class="panel panel-white"><div class="panel-heading"><h4 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#panel_scratches"><span class="parent"></span>/scratches</a> <span class="methods"><a href="#scratches_get"><span class="badge badge_get">get</span></a> <a href="#scratches_post"><span class="badge badge_post">post</span></a></span></h4></div><div id="panel_scratches" class="panel-collapse collapse"><div class="panel-body"><div class="list-group"><div onclick="window.location.href = '#scratches_get'" class="list-group-item"><span class="badge badge_get">get</span><div class="method_description"><p>Get all products</p></div><div class="clearfix"></div></div><div onclick="window.location.href = '#scratches_post'" class="list-group-item"><span class="badge badge_post">post</span><div class="method_description"><p>Add new product</p></div><div class="clearfix"></div></div></div></div></div><div class="modal fade" tabindex="0" id="scratches_get"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title" id="myModalLabel"><span class="badge badge_get">get</span> <span class="parent"></span>/scratches</h4></div><div class="modal-body"><div class="alert alert-info"><p>Get all products</p></div><ul class="nav nav-tabs"><li><a href="#scratches_get_response" data-toggle="tab">Response</a></li></ul><div class="tab-content"><div class="tab-pane" id="scratches_get_response"><h2>HTTP status code <a href="http://httpstatus.es/200" target="_blank">200</a></h2><h3>Body</h3><p><strong>Type: application/json</strong></p><p><strong>Example</strong>:</p><pre><code>{
    "data": [
        {
            "id": 1,
            "item_name": "The Itcher",
            "item_description": "Scratch any itch",
            "item_size": "XL",
            "item_cost": 190
        },
        {
            "id": 2,
            "item_name": "The Blinger",
            "item_description": "Diamonds",
            "item_size": "XS",
            "item_cost": 789
        },
        {
            "id": 3,
            "item_name": "Glitz and Gold",
            "item_description": "Gold handle and fancy emeralds make this shine",
            "item_size": "XS",
            "item_cost": 789
        }
    ]
}
</code></pre><h2>HTTP status code <a href="http://httpstatus.es/404" target="_blank">404</a></h2><h3>Body</h3><p><strong>Type: application/json</strong></p><p><strong>Example</strong>:</p><pre><code>{
    "code": 404,
    "message": "Item not found"
}
</code></pre></div></div></div></div></div></div><div class="modal fade" tabindex="0" id="scratches_post"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title" id="myModalLabel"><span class="badge badge_post">post</span> <span class="parent"></span>/scratches</h4></div><div class="modal-body"><div class="alert alert-info"><p>Add new product</p></div><ul class="nav nav-tabs"><li class="active"><a href="#scratches_post_request" data-toggle="tab">Request</a></li><li><a href="#scratches_post_response" data-toggle="tab">Response</a></li></ul><div class="tab-content"><div class="tab-pane active" id="scratches_post_request"><h3>Body</h3><p><strong>Type: application/x-www-form-urlencoded</strong></p><strong>Form Parameters</strong><ul><li><strong>name</strong>: <em>required (string)</em><p>Name product</p></li><li><strong>description</strong>: <em>(string)</em><p>Description product</p></li><li><strong>size</strong>: <em>required (string)</em><p>Size product</p></li><li><strong>price</strong>: <em>required (number)</em><p>Price product</p></li></ul></div><div class="tab-pane" id="scratches_post_response"><h2>HTTP status code <a href="http://httpstatus.es/201" target="_blank">201</a></h2><h3>Body</h3><p><strong>Type: application/json</strong></p><p><strong>Example</strong>:</p><pre><code>{
    "success": {
        "code": 201,
        "message": "Item added successfully"
    }
}
</code></pre></div></div></div></div></div></div></div><div class="panel panel-white"><div class="panel-heading"><h4 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#panel_scratches__id_"><span class="parent">/scratches</span>/{id}</a> <span class="methods"><a href="#scratches__id__get"><span class="badge badge_get">get</span></a> <a href="#scratches__id__put"><span class="badge badge_put">put</span></a></span></h4></div><div id="panel_scratches__id_" class="panel-collapse collapse"><div class="panel-body"><div class="list-group"><div onclick="window.location.href = '#scratches__id__get'" class="list-group-item"><span class="badge badge_get">get</span><div class="method_description"><p>Get specific product</p></div><div class="clearfix"></div></div><div onclick="window.location.href = '#scratches__id__put'" class="list-group-item"><span class="badge badge_put">put</span><div class="method_description"><p>Update product</p></div><div class="clearfix"></div></div></div></div></div><div class="modal fade" tabindex="0" id="scratches__id__get"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title" id="myModalLabel"><span class="badge badge_get">get</span> <span class="parent">/scratches</span>/{id}</h4></div><div class="modal-body"><div class="alert alert-info"><p>Get specific product</p></div><ul class="nav nav-tabs"><li class="active"><a href="#scratches__id__get_request" data-toggle="tab">Request</a></li><li><a href="#scratches__id__get_response" data-toggle="tab">Response</a></li></ul><div class="tab-content"><div class="tab-pane active" id="scratches__id__get_request"><h3>URI Parameters</h3><ul><li><strong>id</strong>: <em>required (string)</em></li></ul></div><div class="tab-pane" id="scratches__id__get_response"><h2>HTTP status code <a href="http://httpstatus.es/200" target="_blank">200</a></h2><h3>Body</h3><p><strong>Type: application/json</strong></p><p><strong>Example</strong>:</p><pre><code>{
    "data": {
        "id": 1,
        "item_name": "The Itcher",
        "item_description": "Scratch any itch",
        "item_size": "XL",
        "item_cost": 27
    }
}
</code></pre><h2>HTTP status code <a href="http://httpstatus.es/404" target="_blank">404</a></h2><h3>Body</h3><p><strong>Type: application/json</strong></p><p><strong>Example</strong>:</p><pre><code>{
    "code": 404,
    "message": "Item not found"
}
</code></pre></div></div></div></div></div></div><div class="modal fade" tabindex="0" id="scratches__id__put"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title" id="myModalLabel"><span class="badge badge_put">put</span> <span class="parent">/scratches</span>/{id}</h4></div><div class="modal-body"><div class="alert alert-info"><p>Update product</p></div><ul class="nav nav-tabs"><li class="active"><a href="#scratches__id__put_request" data-toggle="tab">Request</a></li><li><a href="#scratches__id__put_response" data-toggle="tab">Response</a></li></ul><div class="tab-content"><div class="tab-pane active" id="scratches__id__put_request"><h3>URI Parameters</h3><ul><li><strong>id</strong>: <em>required (string)</em></li></ul><h3>Body</h3><p><strong>Type: application/x-www-form-urlencoded</strong></p><strong>Form Parameters</strong><ul><li><strong>name</strong>: <em>required (string)</em><p>Name product</p></li><li><strong>description</strong>: <em>(string)</em><p>Description product</p></li><li><strong>size</strong>: <em>required (string)</em><p>Size product</p></li><li><strong>price</strong>: <em>required (number)</em><p>Price product</p></li></ul></div><div class="tab-pane" id="scratches__id__put_response"><h2>HTTP status code <a href="http://httpstatus.es/204" target="_blank">204</a></h2><h3>Body</h3><p><strong>Type: application/json</strong></p><p><strong>Example</strong>:</p><pre><code>{
    "success": {
        "code": 204,
        "message": "Item updated successfully"
    }
}
</code></pre><h2>HTTP status code <a href="http://httpstatus.es/404" target="_blank">404</a></h2><h3>Body</h3><p><strong>Type: application/json</strong></p><p><strong>Example</strong>:</p><pre><code>{
    "error": {
        "code": 404,
        "message": "Item not found"
    }
}
</code></pre></div></div></div></div></div></div></div><div class="panel panel-white"><div class="panel-heading"><h4 class="panel-title"><a class="collapsed" data-toggle="collapse" href="#panel_scratches__id__remove"><span class="parent">/scratches/{id}</span>/remove</a> <span class="methods"><a href="#scratches__id__remove_delete"><span class="badge badge_delete">delete</span></a></span></h4></div><div id="panel_scratches__id__remove" class="panel-collapse collapse"><div class="panel-body"><div class="list-group"><div onclick="window.location.href = '#scratches__id__remove_delete'" class="list-group-item"><span class="badge badge_delete">delete</span><div class="method_description"><p>Remove product</p></div><div class="clearfix"></div></div></div></div></div><div class="modal fade" tabindex="0" id="scratches__id__remove_delete"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title" id="myModalLabel"><span class="badge badge_delete">delete</span> <span class="parent">/scratches/{id}</span>/remove</h4></div><div class="modal-body"><div class="alert alert-info"><p>Remove product</p></div><ul class="nav nav-tabs"><li class="active"><a href="#scratches__id__remove_delete_request" data-toggle="tab">Request</a></li><li><a href="#scratches__id__remove_delete_response" data-toggle="tab">Response</a></li></ul><div class="tab-content"><div class="tab-pane active" id="scratches__id__remove_delete_request"><h3>URI Parameters</h3><ul><li><strong>id</strong>: <em>required (string)</em></li></ul><h3>Query Parameters</h3><ul><li><strong>id</strong>: <em>(integer)</em><p>Product ID</p><p><strong>Example</strong>:</p><pre><code>288</code></pre></li></ul></div><div class="tab-pane" id="scratches__id__remove_delete_response"><h2>HTTP status code <a href="http://httpstatus.es/200" target="_blank">200</a></h2><h3>Body</h3><p><strong>Type: application/json</strong></p><p><strong>Example</strong>:</p><pre><code>{
    "code": 200,
    "message": "Item deleted"
}
</code></pre><h2>HTTP status code <a href="http://httpstatus.es/404" target="_blank">404</a></h2><h3>Body</h3><p><strong>Type: application/json</strong></p><p><strong>Example</strong>:</p><pre><code>{
    "code": 404,
    "message": "Item not found"
}
</code></pre></div></div></div></div></div></div></div></div></div></div></div><div class="col-md-3"><div id="sidebar" class="hidden-print affix" role="complementary"><ul class="nav nav-pills nav-stacked"><li><a href="#scratches">/scratches</a></li></ul></div></div></div></div></body></html>