{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Products</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Size</th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if list %}
                                    {% for item in list %}
                                        <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.itemName }}</td>
                                            <td>{{ item.itemDescription }}</td>
                                            <td>{{ item.itemSize }}</td>
                                            <td>{{ item.itemCost }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="alert-danger">No results</td>
                                    </tr>
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>

{% endblock %}